/AuxideCompiler
/Auxide/bin/Debug
/Auxide/bin/Release
/Auxide/obj/Debug
/Auxide/obj/Release
/DayNight/DayNight/obj/Debug
/DayNight/DayNight/obj/Release
/HLootProtect/HLootProtect/obj/Debug
/HLootProtect/HLootProtect/obj/Release
/HNoDecay/HNoDecay/obj/Debug
/HNoDecay/HNoDecay/obj/Release
/HPVE/HPVE/obj/Debug
/HPVE/HPVE/obj/Release
/HTeleport/HTeleport/obj/Debug
/HTeleport/HTeleport/obj/Release
/TestScript/TestScript/obj/Release
/TestScript/TestScript/obj/Debug
ThisUsesCostura.txt
/.vs
